.destination-card {
    background-color: #fcf0e8;
    padding: 10px;
    min-width: 300px;
    text-align: center;
    border-radius: 15px;
}

.destination-card button {
    background-color: #ff9389;
    color: white;
    transition: background-color ease-in-out .2s;
}

.destination-card button:hover {
    background-color: #FF6F61;
}

.destination-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
}

#close {
    background-color: red;
    position: absolute;
    top:100px;
    left:100px ;
}

.modal-header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 5px;
}

.destination-modal-container{
    background-color: white;
    width: 65%;
    height: 80%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-radius: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.activities div {
    background-color: #87CEEB;
    padding: 8px;
    border-radius: 5px;
}

#destination-img {
    width: 65%;
}

#sticker {
    width: 15%;
}

#region {
    font-size: 20px;
    font-weight: lighter;
}
#identifier {
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width: 768px) {
    #destination-img {
        width: 80%;
    }

    .destination-modal-container{
        width: 80%;
    }

    #sticker {
        width: 30%;
    }

}