

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Shared styles for all viewports */
.search-box {
    background-color: #fff5e5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 100%;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles for small screens */
@media (max-width: 768px) {
    .search-box {
        width: 70%;
        height: 60vh;
    }

    .search-row {
        flex-wrap: wrap;
    }

    form {
        width: 80%;
    }
}

/* Styles for larger screens */
@media (min-width: 769px) {
    .search-box {
        width: 50vw;
        height: 30vh;
    }
}


label {
    font-size: 20px;
    font-weight: 500;
}

select {
    font-size: 18px;
    border: none;
    padding: 7px;
    margin: 15px;
    border-radius: 5px;
}


#budget {
    width: 70%;
    margin: 5px;
}


button {
    border: none;
    padding: 10px;
    border-radius: 10px;
}

#search {
    background-color: #87CEEB;
    color: white;
    font-size: 18px;
}

#search:hover {
    background-color: #64cfee;
}

#budget {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #ffffff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
}

#budget::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FF6F61;
    cursor: pointer;
    border-radius: 10px;
    z-index: 1;
}

.results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#all {
    margin: 10px;
    font-size: 18px;
    background-color: #ff9389;
}