.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-box {
    background-color: #fff5e5;
    width: 50vw;
    height: 30vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 20px;
    font-weight: 500;
}

select {
    font-size: 18px;
    border: none;
    padding: 7px;
    margin: 15px;
    border-radius: 5px;
}

.search-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 100%;
    justify-content: center;
}

#budget {
    width: 70%;
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search {
    border: none;
    padding: 10px;
    background-color: #87CEEB;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}